body {
    background-color:rgb(250, 250, 191);
}

#container {
    display: flex;
    flex-direction:column;
    position: absolute;
    top:2vh;
    left: 5vw;
    width: 90vw;
    gap: 1vh;
}

#msg-area {
    border: 2px solid black;
    border-radius: 20px;
    width:auto;
    height:80vh;    
    background-color: #FFFFFF;
}
#pd {

    border: 2px solid black;
    border-radius: 20px;
    width:auto;
    height:6vh;    
    background-color: #FFFFFF;
    padding: 10px;
}

#input {
    display:block;
    width:auto;
    height: 5vh;
    border-radius: 999px;
    padding-left: 2rem;
    font-size: 1.5rem;
}