body {
    background-color:rgb(250, 250, 191);
}

#container {
    display: flex;
    flex-direction:column;
}

#msg-area {
    position: absolute;
    top: 5vh;

    border: 2px solid black;
    border-radius: 20px;
    width:70vw;
    height:80vh;    
    background-color: #FFFFFF;
}
#pd {
    position: absolute;
    top: 5vh;
    left: 75vw;

    border: 2px solid black;
    border-radius: 20px;
    width:20vw;
    height:80vh;    
    background-color: #FFFFFF;
    padding: 10px;
}

#input {
    position: absolute;
    display:block;
    top: 90vh;
    width:70vw;
    height: 5vh;
    border-radius: 999px;
    padding-left: 2rem;
    font-size: 1.5rem;
}